[Desktop Entry]
Name=RayaFile
Comment=RayaFile desktop sync client
TryExec=rayafile
Exec=rayafile
Icon=rayafile
Type=Application
Categories=Network;FileTransfer;
